<%= simple_form_for(@customer) do |f| %>
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Welcome to <%= Tenant.current.name%></h3>
            <h5>Please sign in and choose your repair facility</h5>
          </div>
          <div class="modal-body">
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :name %>
              <%= f.input :phone %>
              <%= f.input :email %>
              <%= f.association :model %>
              <%= f.association :shop %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= f.button :submit, "Schedule My Appointment!", class:%w(btn btn-success) %>
          </div>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript">
  $(window).load(function(){
    $('#myModal').modal('show');
  });
</script>