<!DOCTYPE html>
<html>
<head>
  <title>AutoRepairs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body style = "background-image:url('<%= background_image_url %>'); background-size:cover">
<%= yield %>

</body>
</html>
